

**/node_modules


*.tfvars
*.tfvars.json
#prod.tfvars
# dev.tfvars

# Local .terraform directories
**/.terraform/*
*.tfstate/*
*.terraform.lock.hcl
plan.out
# .tfstate files
*.tfstate
.tfstate.*

bundle.zip